div.fr-view h1,
div.fr-view h1>p,
div.fr-view h1>span,
div.fr-element h1,
div.fr-element h1>p,
div.fr-element h1>span,
div.simplebar-content h1,
div.simplebar-content h1 > p,
div.simplebar-content h1 > span {
  font-size: 30px !important;
  font-weight: 700 !important;
  line-height: 1.5 !important;
  margin: 0px;
}

div.fr-view h2,
div.fr-view h2>p,
div.fr-view h2>span,
div.fr-element h2,
div.fr-element h2>p,
div.fr-element h2>span,
div.simplebar-content h2,
div.simplebar-content h2>p,
div.simplebar-content h2>span {
  font-size: 21px !important;
  font-weight: 700 !important;
  line-height: 1.5 !important;
  margin: 0px;
}

div.fr-view h1 strong,
div.fr-view h2 strong {
  text-shadow: 0.5px 0.5px 0 rgba(0, 0, 0, 0.2),
    -0.5px -0.5px 0 rgba(0, 0, 0, 0.2), 0.5px -0.5px 0 rgba(0, 0, 0, 0.2),
    -0.5px 0.5px 0 rgba(0, 0, 0, 0.2);
}

div.fr-view h3,
div.fr-view h3>p,
div.fr-view h3>span,
div.fr-element h3,
div.fr-element h3>p,
div.fr-element h3>span {
  font-size: 21px !important;
  font-weight: 700 !important;
  line-height: 1.5 !important;
  margin: 0px;
}

div.fr-view h4,
div.fr-view h4>p,
div.fr-view h4>span,
div.fr-element h4,
div.fr-element h4>p,
div.fr-element h4>span {
  font-size: 21px !important;
  font-weight: 700 !important;
  line-height: 1.5 !important;
  margin: 0px;
}

div.fr-view h5,
div.fr-view h5>p,
div.fr-view h5>span,
div.fr-element h5,
div.fr-element h5>p,
div.fr-element h5>span {
  font-size: 20px !important;
  font-weight: 700 !important;
  line-height: 1.5 !important;
  margin: 0px;
}

div.fr-view h6,
div.fr-view h6>p,
div.fr-view h6>span,
div.fr-element h6,
div.fr-element h6>p,
div.fr-element h6>span {
  font-size: 18px !important;
  font-weight: 700 !important;
  line-height: 1.5 !important;
  margin: 0px;
}

.fr-view table {
  margin-block: 30px;
}

.fr-view table td,
.fr-view table th {
  padding: 5px 8px;
  vertical-align: top;
}

.fr-view table td:empty, 
.fr-view table th:empty {
  height: 37px;
}

.fr-view table td {
  white-space: normal;
  word-break: break-all;
  overflow-wrap: break-word;
}

.fr-view table td ul,
.fr-view table th ul,
.fr-view table td ol,
.fr-view table th ol {
  margin: 0px;
  margin-inline-start: 1.5rem !important;
}

div.fr-view p,
div.simplebar-content p {
  font-size: 16px !important;
  line-height: 26px;
  margin: 0px;
}

.fr-view ul,
ol {
  margin: 0;
  margin-inline-start: 1.5em !important;
  padding: 0;
  line-height: 26px;
}

.fr-wrapper .fr-placeholder {
  line-height: 26px;
  margin-top: 0px !important;
}

.fr-view pre {
  background-color: #f6f8fa;
  padding: 16px;
  border-radius: 4px;
  font-family: "Courier New", monospace;
  color: #24292e;
  white-space: pre-wrap;
  overflow-x: auto;
}

.fr-view:has(~ .fr-image-resizer.fr-active) img {
  cursor: zoom-in;
}

.fr-fic {
  cursor: zoom-in;
}

.fr-lightbox-img .yarl__navigation_prev,
.fr-lightbox-img .yarl__navigation_next {
  display: none;
}

.fr-table-button {
  box-sizing: border-box;
  cursor: pointer;
  width: 22px;
  height: 22px;
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 2px;
  border: 1px solid transparent;
  background-color: transparent;
}

.fr-table-button:hover {
  border: 1px solid #0070e0;
  background-color: #0070e0;
}

.table-add-row-to-end-button {
  background-color: var(--hp-color-hover-bg, #f7f9fa);
  height: 16px;
  pointer-events: auto;
  margin-inline-start: -16px;
  margin-top: -1px;
  border-radius: 0 0 8px 8px;
  border: none;
  border-top: 1px solid var(--hp-color-border-heavy, #c1c7cd);
  cursor: s-resize;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-add-row-to-end-button:hover,
.table-add-row-to-end-button:active,
.table-add-col-to-end-button:hover,
.table-add-col-to-end-button:active {
  background-color: var(--hp-color-selection, #0070e0);
  border-color: var(--hp-color-selection, #0070e0);
}

.table-add-col-to-end-button {
  background-color: var(--hp-color-hover-bg, #f7f9fa);
  width: 14px;
  pointer-events: auto;
  border-radius: 0 8px 8px 0;
  border: none;
  border-inline-start: 1px solid var(--hp-color-border-heavy, #c1c7cd);
  cursor: e-resize;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fr-table-button svg,
.table-add-row-to-end-button svg,
.table-add-col-to-end-button svg {
  height: 16px;
  width: 16px;
  fill: transparent;
}

.table-add-row-to-end-button svg,
.table-add-col-to-end-button svg {
  fill: var(--hp-color-icon, #637282);
}

.fr-table-button:hover svg,
.table-add-row-to-end-button:hover svg,
.table-add-col-to-end-button:hover svg {
  fill: #fff;
}

.fr-view > div.fr-non-editable.table-child {
  display: none;
}

.table-add-row-button,
.table-add-column-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  pointer-events: none;
}

.table-add-column-button {
  flex-direction: column;
}

.table-add-column-button .table-add-marker {
  width: 3px;
  margin-top: 1px;
  height: 4000px;
}

.table-add-row-button .table-add-marker {
  height: 3px;
  margin-inline-start: 1px;
}

.table-add-marker {
  background-color: #c1c7cd;
  opacity: 0;
  z-index: 2;
}

.fr-table-button:hover~.table-add-marker {
  background-color: #0070e0;
  opacity: 1;
}

.table-add-button-guideline {
  background-color: #c1c7cd;
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
}

.fr-link-url-container {
  opacity: 1;
  background-color: #f7f5f2;
  min-width: 300px;
  box-sizing: border-box;
  z-index: 39;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 29px;
  margin-left: 0;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 8px 32px #1e191908, 0px 8px 16px #1e191908,
    0px 4px 8px #1e191908, 0px 2px 4px #1e191908, 0px 1px 2px #1e191908 !important;
}

.fr-popup:has(.fr-link-url-container) {
  box-shadow: none;
}

.fr-link-url {
  width: calc(100% - 12px - 42px);
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  line-height: 18px;
  vertical-align: top;
  background-color: transparent;
  border: 0;
  color: var(--hp-color-link, #0070e0);
  padding-left: 12px;
  transition: width 100ms ease-in;
}

.fr-link-url-container svg {
  width: 24px;
  height: 24px;
}

.fr-link-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 42px;
  margin-right: 0;
  background-color: var(--hp-color-modal, #f7f9fa);
  border-radius: 0 6px 6px 0;
  border: 0;
  padding: 0;
}

.fr-lightbox-caption {
  display: none;
}

/*toolbar */
.fr-colorpicker {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(99, 114, 130, 0.16),
    0 8px 16px rgba(27, 39, 51, 0.08);
  width: auto;
  top: 48px;
}

.colorpicker {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 8px;
  border-radius: 50%;
  cursor: pointer;
  height: 18px;
  width: 18px;
  border: none;
  transform-origin: center;
  transition: transform 0.1s ease-in;
}

.colorpicker:hover {
  transform: scale(1.25);
}

.colorpicker-container {
  height: 32px;
  display: flex;
  align-items: center;
}

.colorpicker-container:hover {
  background-color: rgba(155, 100, 0, 0.102);
}

.three-dots-colorpicker {
  background-color: #fff;
  padding: 0;
}

.three-dots-colorpicker:hover,
.cross-colorpicker:hover {
  transform: scale(1) !important;
}

.cross-colorpicker {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  height: 24px;
  width: 32px;
  margin: 0;
  border-left: 1px solid #e6e8eb;
}

.fr-box.fr-basic .fr-element {
  padding: 20px 16.5px;
}